/*
!.*
!/local
*~
.CFUserTextEncoding
.COLReg
.DS_Store
.DownloadManager/
.FontForge/
.ICEauthority
.MCXLC
.MacOSX/
.NERDTreeBookmarks
.PfaEdit/
.QuickSynergy.config
.Rapp.history
.Trash
.Xauthority*
.Xresources
.adobe/
.ant/
.anyconnect
.aptitude/
.aspell.en.prepl
.aspell.en.pws
.bash_history
.bash_logout
.bash_profile
.bashrc
.bazaar/authentication.conf
.bazaar/explorer/
.bazaar/fastimport/
.bazaar/locations.conf
.bazaar/plugins/bzrtools/
.bazaar/plugins/fastimport/
.bazaar/plugins/grep/
.bazaar/plugins/pager/.bzr/
.bazaar/plugins/pager/.bzrignore
.bazaar/plugins/pager/__init__.pyc
.bazaar/plugins/rewrite/
.bazaar/qbzr.conf
.bazaar/subversion.conf
.bazaar/svn-cache-exp/
.bazaar/svn-cache/
.bzr.backup/
.bzr.log
.bzr/
.cabal/
.cache/
.calc.el
.cheat/
.compiz/
.config/
.cpan/
.cups/
.cvspass
.cvsrc
.dbus/
.diglloydTools/
.dmrc
.dropbox/
.dvdcss/
.eclipse/
.eclipse_keyring
.emacs.d/auto-save-list/
.emacs.d/el-get/
.emacs.d/solarized-theme.el
.emacs.d/tramp
.emacs.d/vendor/
.fog
.fontconfig/
.fonts.cache-1
.fonts/
.gconf/
.gconfd/
.gdb_history
.gem/
.gemrc
.ghc/
.gimp-2.0-etc/
.gimp-2.0/
.gimp-2.2/
.gnome2/
.gnucash/
.gnupg/
.gtk-bookmarks
.gtk-gnutella/
.guard_history
.heroku/
.hgrc
.hoe_template/
.ido.last
.inkscape-etc/
.inkscape/
.ipython/
.irb-history
.irb.hist
.irb_history
.java/
.jedit/
.jline-clojure.main.history
.jpi_cache/
.kdiff3rc
.kit/
.lein/
.lesshst
.lftp/
.lighttable/
.local/
.m2/
.mac_addr_for_koi
.macports/
.macromedia/
.mozilla/
.mplayer/
.mysql_history
.ncftp/
.netrc
.node-gyp/
.npm/
.openoffice.org2/
.orpykeerc
.parallels_settings
.pgpass
.pip/
.port_history
.pow
.profile
.projects.ede
.pry_history
.psql_history
.puppet/
.pushrc
.python-eggs/
.qt/
.rbenv/
.rcfiles.tmproj
.rdebug_hist
.recently-used
.recently-used.xbel
.rediscli_history
.ri/
.ri1.9/
.rnd
.ruby_inline/
.rvm/
.rvmrc
.s3cfg
.semanticdb/
.sh_history
.spell/
.sqlite_history
.srecode/
.ssh/
.subversion/
.texmf-var/
.thumbnails/
.tm_properties
.tmp/
.vagrant.d/
.vboxclient*
.vim/.netrwhist
.vim/bundle/
.vim/sessions/
.vimgolf/
.viminf*.tmp
.viminfo
.vimundo/
.wireshark-etc/
.wireshark/
.xsession-errors*
.zcompdump
.zlocal/this/
local/mac/volt/
local/this
