[user]
	name = John Whitley
	email = john@luminous-studios.com
[alias]
	cat = "!f() { cat $(git rev-parse --git-dir 2>/dev/null)/config; }; f"
	co = checkout
	d = diff --ignore-space-at-eol -b -w --ignore-blank-lines
	dt = difftool
	edit = "!${GIT_EDITOR-$EDITOR} .git/config"
	fp = first-push
	h = pretty-log -1
	sh = pretty-head
	r = pretty-log -30
	ra = r --all
	l = pretty-log
	la = l --all
	lns = log --name-status --decorate=short
	man = help
	pr = pull-request
	st = status
	ksreview = "!f() { local SHA=${1:-HEAD}; local BRANCH=${2:-master}; if [ $SHA == $BRANCH ]; then SHA=HEAD; fi; git difftool -y -t Kaleidoscope $BRANCH...$SHA; }; f"
	ksshow = "!f() { local SHA=${1:-HEAD}; git difftool -y -t Kaleidoscope $SHA^..$SHA; }; f"
	vimdiff = difftool -y -t vimdiff
[color]
	ui = auto
[core]
	pager = less -FSRX
	excludesfile = ~/.git-global-ignores
	quotepath = false
[github]
	user = jwhitley
[merge]
	tool = bc
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = bc
	algorithm = patience
[push]
	default = upstream
[mergetool]
	keepBackup = true
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
