[user]
	name = John Whitley
	email = john@luminous-studios.com
[alias]
	cat = "!f() { cat $(git rev-parse --git-common-dir 2>/dev/null)/config; }; f"
	co = checkout
	d = diff --ignore-space-at-eol -b -w --ignore-blank-lines
	done = "!f() { git checkout master && git pull && git cleanup; }; f"
	dt = difftool -d
	mt = mergetool
	edit = "!${GIT_EDITOR-$EDITOR} .git/config"
	fp = first-push
	h = pretty-log -1
	lab = repo lab
	sh = pretty-head
	r = pretty-log -30
	ra = r --all
	l = pretty-log
	la = l --all
	lns = log --name-status --decorate=short
	man = help
	pr = pull-request
	st = status
	wt = worktree
	wl = worktree list
	vimdiff = difftool -y -t vimdiff
[color]
	ui = auto
[core]
	excludesfile = ~/.git-global-ignores
	pager = less -FSRX
	quotepath = false
	attributesfile = ~/.gitattributes
[github]
	user = jwhitley
[difftool]
	prompt = false
[diff]
	tool = bc
	algorithm = patience
[diff "mincss"]
	textconv = js-beautify --css
	cachetextconv = true
[diff "minjs"]
	textconv = js-beautify
	cachetextconv = true
[diff "swift"]
    xfuncname = ^[ \t]*(((private |public |internal |final |open )*class|(private |public |internal )*struct|(private |public |internal )*actor|(private |public |internal )*func|(private |public |internal )*extension|(private |public |internal )*enum)[ \t].*)$
[merge]
	tool = bc
[mergetool]
	keepBackup = true
	prompt = false
[pull]
	rebase = true
[push]
	default = upstream
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[include]
  path = .gitconfig.local
[init]
	defaultBranch = main
